/** @format */

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	background-color: hsl(var(--heroui-default-100) / 1);
	font-weight: 500;

	&__title {
		@media (max-width: 768px) {
			& {
				display: none;
			}
		}
		font-size: 30px;
	}
	&__tabs {
		// position: absolute;
		// top: 10px;
		// right: 100px;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__logo {
		width: 40px;
		height: 40px;
		margin-right: 10px;
	}
	&__name {
		width: 460px;

		display: flex;
	}
	&__themeButtons {
	}
	&__themeButton {
		// padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
