/** @format */

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	background-color: hsl(var(--heroui-default-100) / 1);
	font-weight: 500;

	&__title {
		font-size: 30px;
	}
}
