/** @format */

.borderRadius {
	margin-top: 150px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	&__example {
		background-color: hsl(var(--heroui-default-100) / 1);
		border: 2px solid color-mix(in oklab, hsl(var(--heroui-default-300) / 1) 90%, transparent);
		width: 300px;
		height: 300px;
		border-radius: 40px;
	}

	& > .box {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__avatar {
		filter: contrast(200%);
		width: 40px;
		height: 40px;
	}
	&__wrapper {
		margin-bottom: 10px;
		gap: 20px;
		display: flex;
	}
	&__select {
		height: 48px;
	}
	&__tab {
		margin: 2px;
	}
	&__line {
		// padding: 5px;
		border-bottom: 1px solid hsl(var(--heroui-default-100) / 1);
	}
	&__tabs {
		height: 48px;
	}
	&__radiusBlock {
		padding: 5px 0;
	}
}
