/** @format */

.conteiner {
	margin: 0 auto;
	width: 1200px;
}
.box {
	border-radius: 20px;
	padding: 10px;
	width: 400px;
	height: 400px;
	display: block;
}

.settings {
	position: relative;
	border-radius: 20px;
	padding: 10px;
	width: 400px;
	height: 400px;
	display: block;
}
.main {
	margin-top: 150px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
input[type="number"]::-webkit-inner-spin-button {
	margin-left: 6px; /* Отступ между числом и стрелками */
	opacity: 1; /* Делаем стрелки видимыми */
}

input[type="number"] {
	padding-right: 6px; /* Отступ справа для стрелок */
	-moz-appearance: textfield; /* Убираем стандартные стрелки */
}

input[type="number"]::-ms-clear {
	display: none; /* Скрываем крестик очистки */
}
